<!DOCTYPE html>
<html lang="en">
  <%-   include('./partials/header.ejs') %> 
<body>
 
  <%-   include('./partials/nav.ejs') %> 
  
   <div class="container "> 
  
    <div class="row">
      <div class="col-sm-6">
        <div class="card text-white" style="margin-top: 60px; background-color: #00539CFF;">
          <div class="card-body">
            <h5 class="card-title"><%= arr[0] %></h5>
            <p class="card-text"><%= a2[0] %></p>
            <a href=" <%= t[0] %>" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-white " style="margin-top: 60px;background-color: #00539CFF;">
          <div class="card-body">
            <h5 class="card-title"><%= arr[1] %></h5>
            <p class="card-text"><%= a2[1] %></p>
            <a href="<%= t[1] %>" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
    </div>
 


    <% for(let i=2;i<9;i=i+2){ %> 
      <div class="row">
        <div class="col-sm-6">
          <div class="card text-white " style="margin-top: 30px;background-color: #00539CFF;">
            <div class="card-body">
              <h5 class="card-title"><%= arr[i] %></h5>
              <p class="card-text"><%= a2[i] %></p>
              <a href=" <%= t[i] %>" class="btn btn-primary">Read more</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-white " style="margin-top: 30px;background-color: #00539CFF;">
            <div class="card-body">
              <h5 class="card-title"><%= arr[i+1] %></h5>
              <p class="card-text"><%= a2[i+1] %></p>
              <a href=" <%= t[i+1] %>" class="btn btn-primary">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <% } %>

    
</div>
  
</body>
</html>